@media (max-width: 992px) {

  .slider_section {
    min-height: auto;
  }

  .slider_section .detail-box {
    padding: 90px 0 75px 0;
  }

  .info_main_row>div:nth-child(1) {
    margin-bottom: 25px;
  }

  .info_main_row>div:nth-child(2) {
    margin-bottom: 25px;
  }
}



@media (max-width: 600px) {
  .contact-left, .contact-right{
    flex-basis: 100%;
}
  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }

  .slider_section .slider_bg_box img {
    object-position: 20% center;
  }

  .about_section .img-box {
    margin-bottom: 45px;

  }

  

}



@media (max-width: 480px) {
  .about_section .img-box::before {
    width: 150px;
    height: 150px;
  }

  .slider_section .slider_bg_box img {
    object-position: 40% center;
  }
}

@media (max-width: 376px) {
  .slider_section .detail-box h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}